html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
}

#container {
  display: flex;
}

#map, #table {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.55);
  position: relative;
  display: block;
  flex-grow: 1;
}

#table {
  display: none;
}

#sidebar {
  width: 300px;
  height: 100%;
  max-width: 100%;
  position: relative;
  flex-grow: 0;
  order: 1;
}

#sidebar .resize-handle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  width: 10px;
  z-index: 10;
  cursor: ew-resize;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
}
.navbar {
  background-image: linear-gradient(to bottom, #2b6988 0%, #1f4b61 100%);
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

#sidebar textarea {
  margin-bottom: 15px;
}

.navbar .btn-group {
  margin-right:0;
}

#notifications {
  margin-top: 15px;
}

.dataTables_wrapper {
  padding-top:15px;
  height: 100%;
  overflow-y: scroll;
}

.dataTables_wrapper .row {
  margin: 0;
}

.dataTables_wrapper .row:after {
  clear: inherit;
}

.dataTables_wrapper .col-sm-12 {
  padding:0;
  margin: 0;
  overflow-x: scroll;
}

.CodeMirror {
  padding-left: 8px;
  margin-bottom: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;
  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.pull-left {
  margin-right:5px;
}

#download {
  display: none;
}

.limit-controls input[type=number] {
  width: 5em;
  border: 0;
  border-bottom: 1px solid #333;
  font: inherit;
  padding: 0;
  margin: 0;
}

.leaflet-popup-content {
  max-height: 50vh;
  overflow-y: scroll;
}